
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Template for Tailwindcc and alpine</title>

    <!-- Bootstrap core CSS -->
    <link href="https://sp6.jcifit.com/static/css/tailwind.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
  </head>

  <body>

    {% block content %}{% endblock %}

    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', path='/js/alpine.min.js') }}"></script>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  </body>
</html>
